fastapi
uvicorn
sqlalchemy
psycopg2-binary
PyJWT
bcrypt
passlib[bcrypt]
python-multipart
python-dotenv
email-validator
pydantic
numpy
pandas
scikit-learn
joblib
xgboost
qiskit
qiskit-machine-learning
pennylane
razorpay
requests
reportlab